<!-- Throw together any old page in here -->
<div class="jumbotron">
	<h1>Welcome to Micro</h1>
	<p>Micro bootstraps you to the following place:</p>
	<ul>
		<li class="list-item">Bootstrap3</li>
		<li class="list-item">jQuery2</li>
		<li class="list-item">Angular</li>
		<li class="list-item">App to serve static pages</li>
	</ul>
	<p>From here, you can:</p>
	<ul>
		<li class="list-item">Add Markdown Support</li>
		<li class="list-item">Build your own app by adding services and controllers</li>
		<li class="list-item">Connect this up to your Octi based backend</li>
		<li class="list-item">Gut what you don't what and go crazy</li>
	</ul>
</div>